<!DOCTYPE html>
<html lang="et">
<head lang="et">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Drupal, Wordpress, Laravel</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" type="text/scss" rel="stylesheet"/>
    <link href="assets/scss/styles.scss" type="text/scss" rel="stylesheet"/>
        {% include "navbar.twig" %}
        <a href="">
    <h1 style="margin: 0;font-weight: bold; font-size: 45px;">
        <span class="text-danger">Web</span><span class="" 
        style="color: black;">Pro</span></h1>
</a>
        <div class="container">
              {%block content %}
        {% endblock %}
        </div>
<footer id="footer">
{% include "contact.twig"%}
</html>
