<div class="container">
        <h1>Saada päring</h1>
        <div class="row">
            <div class="col-sm-9">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="email" class="form-control mb-4" id="email" placeholder="Email">
                            <input type="text" class="form-control mb-4" id="eesnimi" placeholder="Eesnimi">
                            <input type="text" class="form-control mb-4" id="telefon" placeholder="Telefon">
                        </div>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="5" placeholder="Lisainfo"></textarea>
                            <div class="mt-2">
                            <button type="button" class="btn btn-primary">Saada Ära</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3" id="lisainfo">
                <h4>Kontaktinfo</h4>
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Kaido Toomingas</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>kaido@webpro.ee</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>+372 53 533 822</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrapi Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Bootstrapi Popper.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- Bootsbrap ise-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- The jQuery library -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- The Moment.js library -->
<script src="node_modules/moment/moment.js"></script>

<!-- Including our own JavaScript file -->
<script src="assets/js/script.js"></script>
