{% extends "base.twig" %}
{% block header_menu %}
    {% include "header_menu.twig" %} 
{% endblock %}
{% block content %}

    {% for key, item in data %}
        <h2 id="section-{{ key }}">{{ item.title }}</h2>
        <div class="content">{{ item.content }}</div>
            <div class="row" style="width:auto">
            {% if item.list == "services" %}
                {% for i,item in services %}
                <div class="column">
                <div class="card" style="width: 18rem;">
                            <img src="{{ item.teaser.img }}" style="height:150px;width:150px;" alt="">
 
                        <div class="card-body">
                       <p class="card-text"><strong>{{ item.teaser.title }}</strong>
                        {{ item.teaser.content }}
                       <p class="card-text">
                      </div>
                     </div>
                     </div>
                {% endfor %}
            {% endif %}
            </div>
            
            {% if item.list == "references" %}
          <div class="row">
                {% for group_title, group  in references %}
                    <div class="col-6 col-md-4" id="see-{{ loop.index }}">
                        <h5>{{ group_title }}</h5>
                        {% for item in group %}
                        <div class="col">
                            <ul>
                                <li>
                            {{ item.title }}
                          <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
                            {{ item.year }}
                                </li>
                            </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
    {% endfor %}
{% endblock %}