<!--  NORMAL NavBar-->
    <nav class="navbar fixed-top navbar-light bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ml-1" 
          id="navnupp">
            <a href="">
            <h1 style="margin: 0;font-weight: bold; font-size: 45px;">
                <span class="text-danger">Web</span><span class="" 
                 style="color: black;">Pro</span></h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" 
                 aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    
    {% for key, item in data %}
    {% if item.menu_title %}
        <div class="nav-link ml-5"><a href="#section-{{ key }}">
            {{ item.menu_title }}</a></div>
    {% endif %}
  {% endfor %}
  </div>

                        {#<a class="nav-link ml-5" href="#teenused">Mida pakume 
                          <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link ml-5" href="#tööd">Tehtud tööd</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link ml-5" href="#info">Meist</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link ml-5" href="#praktika">Praktika</a>
                    </li>
                </ul>#}
                <div class="ml-5">
                        <a class="btn btn-danger ml-5" href="#lisainfo" 
                          role="button">VÕTA ÜHENDUST</a>
                    </div>
            </div>
        </nav>
    </nav>